*{
  margin: 0px;
  padding: 0px;
}

.container{
  margin: 10px 50px;
  padding: 0; 
}

.btn {
  background-color: black;
  color: white;
  padding: 12px 70px;
  margin: 0 43px;
  border: none;
  font-family: roboto, sans-serif;
  font-size: 15px;
}

.btn:hover{
  background-color:#ffffff;
  color: black;
  border: 1px solid black;
}

.wh {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 12px 80px;
  margin: 0 25px;
  text-align: center;
}

.wh:hover {
  background-color: black;
  color: #ffffff;
}

.grey {
  background-color: #f0f0f0;
  color: #5a5654;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  padding: 15px 95px;
  margin: 0 10px;
}

.grey:hover {
  background-color: #2c2c2c;
  color: #ffffff;
}

.blue {
  background-color: #0074da;
  color: #f1ffff;
  border: none;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 17px 100px; 
}

.blue:hover{
  background-color: #024a88;
  color: #ffffff;
}